[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
bs4 = "*"
pymupdf = "*"
datefinder = "*"
dateparser = "*"
discord = "*"
python-decouple = "*"
pysftp = "*"
fuzzywuzzy = "*"
pandas = "*"
dropbox = "*"
python-dotenv = "*"
requests = "*"
python-levenshtein = "*"
lxml = "*"
names = "*"

[dev-packages]

[requires]
python_version = "3.9"
